@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: "yekan";
  src: url("../assests/fonts/IRANYekanBold.ttf");
}
@font-face{
  font-family: "reqularyekan";
  src: url("../assests/fonts/IRANYekanRegular.ttf");
}

@layer base {
  body {
    direction: rtl;
    font-family:"reqularyekan"
  }
}


